.card {
    margin:0 auto;
    margin-top:1rem;
}

.disabled {
    pointer-events: none;
    cursor: default;
}

.nav-link{
    color:black;
    margin-left:5px;
    margin-right:5px;
    font-size:1.2rem;
}

.card-footer{
    display:flex;
    flex-direction:row;
    align-items:center;
}

.card-foot{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: flex-end;

}

.navcontainer{
    padding-left:0 !important;
    padding-right:0 !important;
}

.welcome{
    text-align:center;
    margin-top:1rem;
}

.addpostbtn{
    margin-top:1rem;
}

.titlerow{
    margin-top:1rem;
}

.nav-link{
    font-size:1.5rem !important;
}

.homebtn {
    margin-top:0.5rem;
}
